<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles//forgotpass.css">
</head>

<body>
    <div class="container">
        <form class="form-signin" method="POST" onsubmit="forgotpassword(event)">
          <h1>Enter registered email ID</h1>
          <label for="email" class="visually-hidden">Email</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
          <button type="submit">Reset Password</button>
        </form>
        <div class="text-center">
          <a href="signin.html">Return to login page</a>
        </div>
      </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function forgotpassword(e) {
            e.preventDefault();
            try {
                console.log('Inside forgot')
                localStorage.setItem('resetmail', e.target.email.value)
                console.log(e.target.email.value)
                const response = await axios.post(`http://localhost:3000/password/forgotpassword/${e.target.email.value}`)
                
            }
            catch (err) {
                console.log(err)
            }
        }
    </script>

</body>

</html>