<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../styles/resetpass.css">
</head>

<body>

    <div class="container">
        <form class="form-signin" method="POST" onsubmit="reset(event)" action="/password/updatepassword/">
          <h1>Enter new password</h1>
          <label for="pwd" class="visually-hidden">Password</label>
          <input type="password" id="pwd" name="password" class="form-control" placeholder="New Password" required autofocus>
          <button type="submit">Set Password</button>
        </form>
      </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function reset(e) {
            e.preventDefault();

            console.log('Inside reset')
            const user = JSON.parse('<%- user %>');
            const id = user.id
            try {
                const response = await axios.post(`http://18.222.219.135:3000/password/updatepassword/${id}`, { password: document.getElementById('pwd').value });
                console.log(response.data)
            }
            catch (err) {
                console.log(err)
            }
        }
    </script>
</body>

</html>